.round-list {
  margin: 4em auto;

  table {
    width: 99%;
  }

  thead tr td  {
    text-align: center;
  }

  tbody {
    tr {
      margin: 0 .2rem;
      td div.button-group {
        display: flex;
        margin: .25rem 0;

        .button {
          border-radius: 5px;
          width: 5em;
        }
        .button:last-of-type {
          margin-left: .75rem;
        }
      }
    }
  }
}
