.player {
  margin: 1em auto;
  li {
    display: block;

    input {
      margin: 0 0.5em 0.5em 0;
    }
  }
}

.player-add {
  margin: 1em;
  h4 {
    text-decoration: underline;
  }
  form {
    display: flex;

    input {
      flex: 3;
    }
    button {
      background: darkgreen !important;
      flex: 1;
      margin-left: 2px;
    }
  }
}
