.round-summary {
    margin: 5em 1em 1em 1em;
    .round-info {
      a {
        margin-bottom: 0;
        margin-left: 2rem;
        border-radius: 8px;
      }
    }
    .player-list-heading {
      display: flex;
      margin: .5em;
      margin-right: 1.5em;
      text-align: center;

      p {
        flex: 1;
        margin: 0;
        text-decoration: underline;
      }
      p:first-of-type{
        flex: 2;
      }
    }
    div.player-list {
      align-items: center;
      display: flex;
      margin: 1em .5em;
      margin-right: 1.5em;

      span {
        flex: 1;
        text-align: center;
      }

      span:first-of-type {
        flex: 2.2;
        text-align: left;
      }
    }
    .button-group {
      margin: 2rem auto;
      text-align: center;

      button {
        min-width: 8rem;
      }
      button:first-of-type{
        margin-right: 2rem;
      }
    }
}
