.scorecard {
  margin: 4em 0;

  .summary {
    .summary-info {
      background: white;
      border: 1px solid black;
      margin: auto;
      padding: .5rem;
        .heading-row {
          display: flex;
          text-align: center;
          font-weight: bold;
          font-size: 1.1em;
          span {
            flex: 1;
          }
          span:first-of-type {
            flex: 3;
          }
        }
        .summary-row {
          display: flex;
          span {
            flex: 1;
            text-align: center;
          }
          span:first-of-type {
            flex: 3;
            text-align: left;
          }
        }
      }
    }
  .row-flex {
    display: flex;

    td {
      flex: 1;
      font-size: 1em;
      max-width: 12%;
      margin: 0 2px;
      text-align: center;
      padding: 3px;
    }
    .player {
      flex: 1.5;
      flex-wrap: wrap;
      max-width: 16%;
    }
  }

  .row-flex.header {
    td.nonplayer {
      font-size: 1em;
      flex-wrap: wrap;
      padding-top: 2em;
    }
    td.player {
      padding-top: 3px;
    }
  }

  .hide {
    display: none;
    height: 0;
  }
}
