.start-page {
  background: #eee;
  margin: 6em 1em;
  .column {
    display: flex;
    align-content: center;

    .button {
      background: $mainblue;
      flex: 1;
      border-radius: 10px;
      margin: 1em;
      width: 80%;
    }
    .alert {
      background: $alertred;
    }
  }
}
