// Globals
body {
  background: white;
  font-family: 'Lato', sans-serif;
  button:active,
  button:focus {
    outline: none;
  }
}
.container {
  background: #eee;
  min-height: 700px;
}
.column {
  padding: 0;
}

// TitleBar
.title-bar {
  color: white;
  background: darkgreen;
  position: fixed;
  margin-bottom: 1rem;
  top: 0;
  width: 100%;

    .title-bar-text {
      text-align: center;
    }

}
